body{
	background: grey;
}
#bg {

	background: grey;
	width: 100%;
	height: 100%;
}
.title{
	text-align: center;

}

.shapes{
	height: 200px;
	margin: 3px;
	width: 100%;
}
.triangle{
	margin-left: 200px;
	position: absolute;
height: 200px;
margin: 3px;
width: 200px;
background:green;
}
.square{
	position: absolute;
	height: 200px;
padding-top: 3px;
padding-left:3px;
padding-right;3px;
padding-bottom:3px;
width: 200px;
left: 337px;
background: blue;

}
.rect{
	position: absolute;
height: 200px;
margin: 3px;
width: 200px;
background: yellow;
left: 675px;
}
.circle{
	position: absolute;
height: 200px;
margin: 3px;
width: 200px;
background: red;
left: 1150px;
}
.the-square{

width: 100px; 
height: 100px;
 background: red;

}

.the-rect{

width: 150px; 
height: 100px;
 background: black;
 float: center;
}
.the-circle{
	width: 100px; 
	height: 100px; 
	background: blue; 
	-moz-border-radius: 
	50px; -webkit-border-radius: 50px; border-radius: 50px;
}
.the-triangle{
	width: 0; 
	height: 0;
	 border-left: 50px solid transparent;
	  border-right: 50px solid transparent; 
	  border-bottom: 100px solid red;
}

.circle1{
	position: absolute;
	left: 300px;
	width: 300px; 
	height: 300px; 
	background: blue; 
	-moz-border-radius: 150px;
	 -webkit-border-radius: 150px;
	 border-radius: 150px;
}

.circle2{
	position: absolute;
	left: 600px;
	width: 300px; 
	height: 300px; 
	background: blue; 
	-moz-border-radius: 150px;
	 -webkit-border-radius: 150px;
	 border-radius: 150px;
}

.circle3{
	position: absolute;
	left: 900px;
	width: 300px; 
	height: 300px; 
	background: blue; 
	-moz-border-radius: 150px;
	 -webkit-border-radius: 150px;
	 border-radius: 150px;
}

.circle1-text{
	text-align: center;
}
.three-tems{
	margin-top: 50px;
}